<div>
    <div class="placeholder">
        <div class="placeholder_svg">
            {{ 'image' | placeholder_svg_tag }}
        </div>
    </div>
</div>
<div>
    <div class="placeholder">
        <div class="placeholder_svg">
            {{ 'image' | placeholder_svg_tag }}
        </div>
    </div>
</div>
<div>
    <div class="placeholder">
        <div class="placeholder_svg">
            {{ 'image' | placeholder_svg_tag }}
        </div>
    </div>
</div>