.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}
.contact-grid{
  display: grid;grid-template-columns: 1fr .5fr;max-width: 1100px;margin-bottom: 5em;grid-gap: 10%;
}
.contact-grid button{display: none;}
@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
@media only screen and (max-width: 500px){
  .contact-grid{grid-template-columns: 1fr;max-width: 100%;grid-gap: 5%;}
  h2.title{margin-top: 50px;}
  .contact-grid button{
    background: var(--gradient-base-accent-2);
    border: none;
    color: var(--gradient-base-accent-1);
    font-size: 16px;
    padding: 13px;
    width: 100%;
    display: block;
  }
  .store-contact-loc{
    font-size: 35px;
  }
}
