.outer-featured-collection-grid-2{position: relative;width: 100%;
overflow: hidden;}
.section-fc2-header{
    position: relative;
    display: block;
    margin: 10px 0 25px 0;
}
.section-featured-collection-2{
    display: block;
    padding: 10px 0 0 10px;
}
.featured-collection-base{
    display: flex;
    max-width: 160%;
    column-gap: 10%;
    max-height: 960px;
    position: relative;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.25,0,.25,1);
    /*overflow: hidden;*/
}
.fcprod-first-two{
    display: grid;
    grid-template-columns: 30vw 45vw;
    grid-gap: 10px;
    height: 100%;
}

.item-aligner{
    display: flex;
    align-items: baseline;
    justify-content: inherit;
    height: 100%;
    cursor: pointer;
} 
.aligner-item--bottom {
    align-self: flex-end;
  }

.aligner-item--top {
    align-self: flex-start;
  }
  .aligner-item--top svg, .aligner-item--bottom svg, .absolute-product-1 svg, .absolute-product-2 svg{border: solid 1px;width:100%}


.fcprod-last-two{
    display: grid;
    grid-template-columns: 27vw 30vw;
    grid-gap: 40px;
    height: 100%;
}

.fcprod-last-two{height:100%} 

.fcprod-ft-img-1{
object-fit: cover;
object-position: center;
border: solid #222 .8px;
min-width: 100%;
max-width: 100%;
min-height:100%;
max-height: 100%;
bottom: 0;
left: 0;
} 
.fcprod-item-col-1{display: grid;grid-template-columns: 1fr;grid-auto-rows: 1fr;}
.ftp-collection-info{height: 50px;}
.fcprod-ft-img-2{
object-fit: cover;
object-position: center;
border: solid #222 .8px;
min-width: 100%;
max-width: 100%;
max-height: 100%;
min-height:100%;
}
.fcprod-last-two-item h5{
    display: block;
    width: 100%;
    margin-top: 0;
    align-self: end; 
}
.fcprod-first-two h5{
    display: block;
    width: 100%;
    margin-top: 0;
    align-self: end;
}

.absolute-product-1{
    display: block;
    width: 17vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 5vw;
    cursor: pointer;
}
.absolute-product-2{
    display: block;
    width: 17vw;
    height: auto;
    position: absolute;
    bottom: 15%;
    right: 8%;
    cursor: pointer;
}
.absolute-text{margin: 0;}
.featured-swiper {
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: #222;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: none;
    border-radius: 50%;
  }
  .fcp-swiper-container{
    position: absolute;text-align: center;bottom: 65px;
  }
  .fcp-swiper-container a{
    border: 1px solid rgb(var(--color-foreground));
    color: rgb(var(--color-foreground));
    background: transparent;
    font-family: var(--font-body-family);
    padding: 6px 12px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    display: block;
  }

.featured-swiper-active{
    background-color: transparent;
    border: #222 solid 2.5px;
    height: 13px;
    width: 13px;
}
@media only screen and (min-width: 1306px){
    .featured-collection-base{
        display: flex;
        max-width: 130%;
        column-gap: 6%;
        max-height: 1055px;
    }
    .fcprod-first-two{
        display: grid;
        grid-template-columns: 30vw 50vw;}
        .absolute-product-1{
            display: block;
            width: 14vw;}
            .absolute-product-2{
                display: block;
                width: 14vw;}
}


@media only screen and (min-width: 1506px){
    .featured-collection-base{
        display: flex;
        max-width: 130%;
        column-gap: 6%;
        max-height: 1265px;
    }
    .fcprod-first-two{
        display: grid;
        grid-template-columns: 23vw 50vw;
        grid-gap: 10px;
        height: 100%;
    }
    .absolute-product-1{
        display: block;
        width: 12vw;}
        .absolute-product-2{
            display: block;
            width: 12vw;
            bottom: 15%;
            right: 18%;
        }
  
}

@media only screen and (min-width: 1750px){
    
        .absolute-product-2{
            display: block;
            width: 12vw;
            bottom: 15%;
            right: 26%;
        }
  
}
/*
@media only screen and (max-width: 500px){
    .fcprod-last-two{grid-gap:5px;}
    .fcp-swiper-container{bottom: 35px;}
    .fcp-swiper-1{right: 3% !important;}
  
}
@media only screen and (max-width: 400px){
    .fcp-swiper-1{right: 3% !important;}
}
*/
.featured-collection-grid-sm-2{display: none;}
.view-all-collection{display: none;}
@media only screen and (max-width: 750px){
    .view-all-collection {
        border: 1px solid rgb(var(--color-foreground));
    color: rgb(var(--color-foreground));
    background: transparent;
    font-family: var(--font-body-family);
    padding: 6px 12px;
    cursor: pointer;
    margin: 15px auto;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin-top: -15px;
    }
    .outer-featured-collection-grid-2{display: none;}
.featured-collection-grid-sm-2{display: flex;width: 100%;
    position: relative;
    overflow: scroll;
    display: block;}
.featured-wrapper-mobile{
    display: flex;
    column-gap: 0px;
    width: 200%;
    }
.featured-wrapper-mobile >div{
    min-width: 300px;
}
.fcprod-ft-img-1{min-height: 92%;}
.fcprod-ft-img-2-mbl{
    object-fit: cover;
    object-position: center;
    border: solid #222 0.8px;
    min-width: 100%;
    max-width: 100%;
    margin-top: 20%;margin-left: -60px;z-index: 2;max-height: 75%;min-height: 75%;
}
.fcprod-ft-img-3-mbl{
    object-fit: cover;
    object-position: center;
    border: solid #222 0.8px;
    min-width: 100%;
    max-width: 100%;
    margin-top: 20%;margin-left: -30px;z-index: 2;max-height: 75%;min-height: 75%;
}
.featured-collection-grid-sm-2::-webkit-scrollbar{background: transparent;}
.section-featured-collection-2{width: 100%;overflow: hidden;}
}
